.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
    gap: 10px;
}

.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

 .grid-item1 {
    grid-column: 1 / span 3;
    

}
.grid-item2 {
    grid-row: 2 / span 3;

   
}
.grid-item5 {
    grid-column: 2 / 4;
    
    
}
