.card{
    border: 5px solid red;
    border-radius: 15px;
    /*border-style: dotted;*/
    background: #ffafcc;
    text-align: center;
    padding: 10px 20px;
    width: 300px;
    height: 200px;
    font-family: monospace;
    font-size: 16px;
}