.bingo-card {
    display: grid;
    background-color: rgb(107, 177, 200);
    grid-template-columns: repeat(5, 1fr);
    width: 325px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    border-radius: 15px;
    
     
}

.cell {
     background-color: #a2c3f5;
     padding: 20px;
     border: 1px solid rgba(0, 0, 0, 0.8); 
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
    

}
.free {
    background-color: skyblue;

}

.cell:hover {
   background-color: lightblue;
   transform: scale(1.3);

    
}

